body {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-left: 1em;
    padding-right: 1em;

}
.profile {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    justify-content: space-between;
    display: flex;
}

table {
        border-collapse: collapse;
      }

table, th, td {
        border: 1px solid black;
        table-layout: fixed;
        width: 200px;

}

@media(min-width:800px){
    .profile img {
        float: right;
        display: flex;
    }

    .historyP {
        display: flex;
        }
    .Thecity img {
      float: left;
      display: flex;
      padding-right: 10px;
      padding-bottom: 5px;
    }
    .historyP1 img {
        display: flex;
        float: left;
        padding-right: 10px;
        padding-bottom: 5px;
    }
    .historyP2 img {
        float: left;
        display:flex;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;

    }
    .historyP3 img {
        float: left;
        display:flex;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;

}
