body {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-left: 1em;
    padding-right: 1em;

}
.profile {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    justify-content: left;
    display: flex; 
    background-image: url(/home/lumanyano/projects/webpage/gtff.jpg) ;
    background-size: 100% 100%;  
    background-repeat: no-repeat;
}
.Thecity {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    justify-content: space-between ;
    display: flex;
}
.Thecity li {
    list-style: none;

}
table {
        border-collapse: collapse;
      }
      
table, th, td {
        border: 1px solid black;
        table-layout: fixed;
        width: 150px; 

}


.historyP1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    justify-content: space-between;
    display: flex; 
}
.historyP2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    justify-content: space-between;
    display: flex;  
    padding: 2em; 
    margin-right: 10px;
}
.historyP3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    justify-content: space-between;
    display: flex; 
        
}



@media(min-width:800px){
    .profile {
        display: flex;
    }
    
    .historyP {
        display: flex;
        }
        
}
.historyP img {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.historyP2 img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

